@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: black;
    --background-color: rgb(50, 206, 211);
    font-family: 'DotGothic16', sans-serif;
    color: var(--main-text-color);
}

img {
    display: block;
    width: 100%;
}